body {
  background-color: rgb(56, 104, 48);
}
.contact {
  margin-bottom: 150px;
  margin-top: 40px;
  display:block;
  justify-content: center;
  padding-bottom: 400px;
  border: 1.5px solid rgba(174, 189, 209);
  margin-left: 2%;
  margin-right: 2%;
}
.greenbg{
  background-color: rgb(56, 104, 48);
}
.left {
  margin-left: -220px;
  padding-left: 250px;
  color: #fff;
  /* color: rgb(165, 164, 179); */
}
ul {
  color: #fff;
}
h3 {
  text-align: left;
}