video {
    display: block;
    margin: 0 auto;
  }
  .vid-container {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: buttom;
    align-items: center;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
