body {
  /* background-color: rgb(56, 104, 48); */
  /* padding: 1rem; */
  /* max-width: 1200px; */
  margin: 30px auto;
}
/* .Detection {
  background-color: rgb(56, 104, 48);
} */
.wiki{
  /* background-color: rgb(56, 104, 48); */
 
  display:flex;
}

.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 50% width*/
  flex-basis: 48%; /* sets initial width to 50% */
}
.column-2 {
  flex-shrink: 0; /* shrinks to 0 to apply 50% width*/
  flex-basis: 48%; /* sets initial width to 50% */
}

.box {
  padding: 10px;
  border-radius: 12px;
  /* border: 2px solid rgb(165, 164, 179); */
  border: 2px solid rgb(92, 114, 98);
  margin: 1rem;
  box-shadow: 2px 2px 2px #000;
}
/* .mainRunner_ssd {
   border: 1px solid #000;
} */

.img_ssd1 {
  float: right;
  position: relative;
  width: 100%;
  height: 100%;
  /* left: 100px; */
  /* z-index: 3; */
}

.mainRunner_rcnn {
  margin-top: 80px;
  /* border: 1px solid #000; */
}

.img_rcnn1 {
  position: relative;
  float: right;
  /* align-content: flex-end; */
  width: 65%;
  height: 65%;
  /* top: 40px;
  left: 365px; */
  z-index: 3;
}
.greenbg{
  /* background-color: rgb(56, 104, 48); */
  background-color: rgb(106, 134, 115);
}
p {
  font-size: large;
}
table {
  background-color: rgb(136, 167, 146);
  margin: auto;
  font-size: x-large;
  /* border: 2px solid rgb(165, 164, 179); */
  border: 2px solid rgb(92, 114, 98);
  box-shadow: 2px 2px 2px #000;
  border-collapse: collapse;
}
th, td {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid rgb(92, 114, 98);
  border-collapse: collapse;
}