body {
  background-color: rgb(56, 104, 48);
}
.contact {
  height: 60vh;
  /* margin-bottom: 150px; */
  /* margin-top: 40px; */
  display:block;
  justify-content: center;
  padding-bottom: 400px;
  /* border: 1.5px solid rgba(174, 189, 209); */
  /* margin-left: 2%; */
  /* margin-right: 2%; */
}
.greenbg{
  background-color: rgb(56, 104, 48);
}
.left {
  margin-left: 24.5%;
  
  /* padding-left: 50%; 250px; */
  font-size: x-large;
  color: #fff;
  /* color: rgb(165, 164, 179); */
}
.leftStudent {
  /* margin-left: 17%; */
  margin-left: 25%;
  /* padding-left: 30%; 250px; */
  font-size: x-large;
  color: #fff;
  /* color: rgb(165, 164, 179); */
}
div{
}
.text-center {
  text-align: center;
  margin-left: 30%;
  
}
.display-inline {
    display: inline-block;
}
h2 {
  text-align: left;
  margin-left: 20%;
  font-size: x-large;
  color: #fff;
}

p {
  text-align: left;
}

ul {
  color: #fff;
  font-size: large;
  margin-left: -2%;
  text-align: center;
}
.inner {
  text-align: left;
}
.student{
  margin-left: -2.5%;
}
h3 {
  font-size: x-large;
  text-align: center;
}
